<div class="login-principal">
  <div class="login-wrapper">

    <!-- IZQUIERDA: Imagen + overlay + texto -->
    <div class="left-section">
      <div class="overlay"></div>
      <div class="text-overlay">
        <h1>Bienvenido a EcoSoftware</h1>
        <p>...</p>
      </div>
    </div>

    <!-- DERECHA: Formulario -->
    <div class="form-section">
      <div class="auth-card">
        <div class="auth-header">
          <h2>Iniciar Sesión</h2>
          <p class="form-subtitle">Accede con tu cuenta</p>
        </div>

        <ng-container *ngIf="formGroup">
          <app-form-comp 
            [fields]="campos"
            [formGroup]="formGroup"
            [submitButtonText]="'Iniciar Sesión'"
            [submitButtonIcon]="'bi bi-box-arrow-in-right'"
            [showSubmitButton]="true"
            (submitForm)="onLogin($event)">
            
            <div form-footer class="mt-3 text-center">
              <p><a routerLink="/recuperar" class="auth-link">¿Olvidaste tu contraseña?</a></p>
              <p>¿Aun no tienes una cuenta?
                <a routerLink="/registro" class="auth-link">Registrate aquí</a>
              </p>
            </div>

          </app-form-comp>
        </ng-container>

        <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center w-100" style="max-width: 400px;">
          {{ errorMessage }}
        </div>

      </div>
    </div>

  </div>
</div>
