<div class="login-principal">
  <div class="login-wrapper">

    <!-- IZQUIERDA -->
    <div class="left-section">


      <h1 class="p-4">¡Bienvenido, EcoSofista! </h1>

      <div class="hero-divider"></div>

      <p class="hero-frase">
        Cada acción cuenta. Juntos construimos
        un planeta más verde y sostenible para todos.
      </p>

      <div class="hero-image-wrap">
        <img
          src="https://res.cloudinary.com/dhl2ixdsr/image/upload/v1774022512/Comunidad_unida_en_acci%C3%B3n_sostenible_yfqh1g.png"
          alt="Comunidad EcoSoftware">
      </div>

    </div>

    <!-- DERECHA -->
    <div class="form-section">
      <div class="auth-card">

        <div class="auth-header">
          <h2>Iniciar Sesión</h2>
          <p class="form-subtitle">Accede con tu cuenta</p>
        </div>

        <ng-container *ngIf="formGroup">
          <app-form-comp [fields]="campos" [formGroup]="formGroup" [submitButtonText]="'Iniciar Sesión'"
            [submitButtonIcon]="'bi bi-box-arrow-in-right'" [showSubmitButton]="true" (submitForm)="onLogin($event)">

            <div form-footer class="mt-3 text-center">
              <p>
                <a (click)="abrirRecuperacion()" class="auth-link" style="cursor:pointer">
                  ¿Olvidaste tu contraseña?
                </a>
              </p>
              <app-recuperar-contrasena></app-recuperar-contrasena>


              <p>¿Aún no tienes una cuenta?
                <a routerLink="/registro" class="auth-link">Regístrate aquí</a>
              </p>
            </div>

          </app-form-comp>
        </ng-container>

        <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center w-100" style="max-width: 400px;">
          {{ errorMessage }}
        </div>

      </div>
    </div>

  </div>
</div>