<!-- TABLA REUTILIZABLE -->
<app-tabla
  [titulo]="'Usuarios Pendientes'"
  [columnas]="columnas"
  [data]="usuariosPendientes"
[iconosAcciones]="{
    editar: 'bi-check-circle-fill text-success',
    eliminar: 'bi-x-circle-fill text-danger',
    ver: 'bi-eye'
  }"
  (ver)="verDetalle($event)" 
  (editar)="aprobar($event.idUsuario)"
  (eliminar)="rechazar($event.idUsuario)"
>
</app-tabla>

<!-- MODAL REUTILIZABLE -->
<app-modal
  [isOpen]="modalAbierto"
  (closed)="cerrarModal()"
  [title]="'Detalles del Usuario'"
  size="md"
>
  <div *ngIf="usuarioSeleccionado">
    <p><strong>ID:</strong> {{ usuarioSeleccionado.idUsuario }}</p>
    <p><strong>Tipo de Usuario:</strong> {{ obtenerNombreRol(usuarioSeleccionado?.rolId) }}</p>
    <p><strong>Nombre:</strong> {{ usuarioSeleccionado.nombre }}</p>
    <p><strong>Correo:</strong> {{ usuarioSeleccionado.correo }}</p>
    <p><strong>Dirección:</strong> {{ usuarioSeleccionado.direccion }}</p>
    <p><strong>Barrio:</strong> {{ usuarioSeleccionado.barrio }}</p>
    <p><strong>Localidad:</strong> {{ usuarioSeleccionado.localidad ? (usuarioSeleccionado.localidad | localidadNombre) : 'N/A' }}</p>

    <p *ngIf="usuarioSeleccionado.nit">
      <strong>NIT:</strong> {{ usuarioSeleccionado.nit }}
    </p>

    <h5 class="mt-3">Documentos Subidos</h5>

<!-- Cédula -->
<div *ngIf="usuarioSeleccionado?.documento">
  <p><strong>Cédula:</strong></p>
  <a [href]="usuarioSeleccionado.documento" target="_blank">
    Ver documento
  </a>
</div>

<!-- RUT -->
<div *ngIf="usuarioSeleccionado?.rut">
  <p><strong>RUT:</strong></p>
  <a [href]="usuarioSeleccionado.rut" target="_blank">
    Ver RUT
  </a>
</div>

<!-- Cámara de comercio -->
<div *ngIf="usuarioSeleccionado?.camara_comercio">
  <p><strong>Cámara de Comercio:</strong></p>
  <a [href]="usuarioSeleccionado.camara_comercio" target="_blank">
    Ver documento
  </a>
</div>

  </div>

  <div modal-footer>
    <button class="btn btn-success" (click)="aprobar(usuarioSeleccionado?.idUsuario)">
      Aprobar
    </button>
    <button class="btn btn-danger" (click)="rechazar(usuarioSeleccionado?.idUsuario)">
      Rechazar
    </button>
  </div>

</app-modal>
